body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

aside {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
